node_modules
vendor

public/build
public/hot
public/storage/**

storage/app/private/**
storage/app/public/**
storage/logs/**
storage/debugbar/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/testing/**
storage/framework/views/**
storage/media-library/temp/**
storage/purifier/**

bootstrap/cache/**

_ide_helper.php
_ide_helper_models.php
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
README.md
.idea
.vscode
.fleet
.nova
.zed
.phpstorm.meta.php
.editorconfig

.DS_Store
Thumbs.db

.git
.gitignore
.gitattributes

docker-compose.yml

Homestead.json
Homestead.yaml
auth.json
phpactor.json